body {
  background-color: darkgrey;
  padding: 20px;
}
h1 {
  color: white;
  text-align: center;
}
li {
  margin: 8px 0;
}
.deleteBtn {
  margin-left: 10px;
  color: white;
  background-color: orangered;
  border: 1px solid blue;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 5px;
}
